# Project Config Template

# Project name (name of the folder and the resulting binary)
PROJECT        = mbed-project

# Copy destination for "make upload"
UPLOAD_DIR     =

# Default target
TARGET        ?= LPC1114

# Toolchain location (path where arm-none-eabi-gcc can be found)
TOOLCHAIN     ?=

# C/C++ source files for this project
PROJECT_SRCS   =
